<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Page - <%= title %></h1>
  <p>Ceci est la page des produits.</p>
  <nav>
    <a href="/">Accueil</a> |
    <a href="/produits">Produits</a> |
    <a href="/cas-d-usage">Cas d'usage</a> |
    <a href="/ressources">Ressources</a> |
    <a href="/a-propos">À propos</a> |
    <a href="/contact">Contact</a>
  </nav>
</body>
</html>
